<html>
    <head>
        <style>
            #cabeza {
                background-color: grey; 
                list-style-type: none;
                text-align: center;
                margin: 0;
                padding: 0;
            }
        </style>
        <script>
        </script>
    </head>
    <body>
        <div id="cabeza">
            <ul class="ul_naveg">
                <li class="li_naveg" id="logo">ESCOLAPInversiones</li>
                <li class="li_naveg"><button class="bot_menu">Acciones</button></li>
                <li class="li_naveg"><button class="bot_menu">Registrar</button></li>
                <li class="li_naveg"><button class="bot_menu">Entrar</button></li>
            </ul>
        </div>
        <div id="foot">
            <p>Autor Ivan Savchyn</p>
            <p>*Brooks was here*</p>
            <div id="fotos">
                <a href="https://www.instagram.com/_tine_es/?hl=es" target="_blank"><img class="foto" src=""></a>
                <a href="https://www.linkedin.com/in/ivan-savchyn-3582b2188/" target="_blank"></a><img class="foto" src=""></a>
                <a href="https://es-es.facebook.com/" target="_blank"></a><img class="foto" src=""></a>
            </div>
        </div>
    </body>
</html>